{
  "parser": "babel-eslint",
  "plugins": ["react"],
  "env": {
    "browser": false,
    "commonjs": true,
    "es6": true
  },
  "extends": ["plugin:react/recommended"],
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "jsx": true
    },
    "sourceType": "module"
  },
  "rules": {
    "linebreak-style": 0,
    "global-require": 0,
    "eslint linebreak-style": [0, "error", "windows"],
    "react/jsx-indent": ["error", 2],
    //   "linebreak-style": ["error", "unix"],
    "quotes": ["error", "double"],
    "semi": ["warn", "always"]
  }
}
